html,
body {
  margin: 5px;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Poppins", "Helvetica", "sans-serif";
  color: black;
}

ul {
  text-align: center;
}

ul li {
  list-style-position: inside;
  margin-bottom: 10px;
}
